@model IEnumerable<Post>

@{
    ViewBag.Title = "Bloggy";
    ViewBag.Description = "Best Bloggy to ever exist";
    ViewBag.Keywords = "blog, travel, happines, covid"; 
}

<div class="main-img" >
    <span class="title" >My first blog with .Net</span>
</div>

<div class="container">
   @*
       <ul>
        @foreach(var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
            </li>
        }
    </ul>
    *@
      @foreach(var post in Model)
        {
        var image_path = $"/Image/{post.Image}";

        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            @if (!String.IsNullOrEmpty(post.Image))
            {
                 <img src="@image_path" width="300"/>
            }
           
           <span class="title">
                @post.Title
           </span>
        </a>

        }
</div>
